@import "tailwindcss";
@plugin "tailwind-scrollbar";

.bg-primary {
background-color:#F4F6FD;
}

.bg-second {
background: #F4F6FD;
}

.navbar {
  background: none; 
}

.shadow-top {
  box-shadow: 0 -4px 10px rgba(15, 13, 13, 0.4); 
}
.text-black{
  color:#000000 ;
}
.text-yellow{
  color:#ffe169 ;
}


/* home-section  */

@layer components{
  .hero-btn{
    @apply mt-6 px-6 py-3  hover:bg-gray-900 bg-[#814BF6] text-[#F4F6FD] font-semibold text-lg rounded-full shadow-lg transition
  }


  .hero-section{
    @apply relative w-full flex flex-col lg:flex-row items-center justify-between bg-fixed px-6 lg:px-28 py-10 gap-8
  }


/* home & product page  atc and quantity*/

  .quantity-btn{
  @apply text-lg px-2 py-1 font-bold text-[#F4F6FD]
}

  .quantity-box{
    @apply flex items-center rounded-full px-3 py-0.5  bg-[#814BF6]
}

  .atc-btn{
    @apply bg-[#814BF6] hover:bg-[#a071ff] text-[#F4F6FD] px-4 py-2 rounded-full transition
}


/*cart*/

  .trash-btn{
    @apply text-red-500 hover:text-red-700 text-xl
}

  .cart-btns{
    @apply bg-black hover:bg-gray-900 text-[#f9db79] font-bold py-2 px-6 rounded-full transition
}

  .total-amount{
    @apply flex flex-col sm:flex-row justify-between items-center bg-[#ffeeb3] p-6 rounded-lg shadow-md mt-6 gap-4
}

  .cart-btn-box{
    @apply text-center sm:text-right mt-4
}


/*Contact*/

  .contact-label-style{
    @apply absolute left-0 -top-4 text-sm transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-black peer-placeholder-shown:text-base peer-focus:-top-4 peer-focus:text-sm peer-focus:text-black
}

  .contact-input-style{
    @apply w-full p-2 border-b-2 border-gray-300 bg-transparent focus:border-black focus:outline-none 
}

  .section-heading {
    @apply text-3xl font-semibold text-center mb-6 text-gray-800;
  }


  /*Footer*/

  .p-style {
    @apply text-lg md:text-base flex items-center space-x-2
  }
}

.checkout-label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}

.checkout-input {
  @apply w-full border border-gray-300 rounded-lg px-4 py-2
  focus:outline-none focus:ring-2 focus:ring-[#814BF6];
}

.error-text {
  @apply text-red-500 text-xs mt-1;
}
